@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
  }
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

.logo {
  position: absolute;
  width: 136px;
  height: 124px;
  left: 127px;
  top: 166px;
}

.slide-top {
  -webkit-animation: slide-top 1.5s cubic-bezier(.445, .05, .55, .95) 1.5s both;
  animation: slide-top 1.5s cubic-bezier(.445, .05, .55, .95) 1.5s both
}

.scale-down-center {
  -webkit-animation: scale-down-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  animation: scale-down-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
