@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@-webkit-keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
    transform: translateZ(700px) translateY(300px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

@keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
    transform: translateZ(700px) translateY(300px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

@-webkit-keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
    transform: translateZ(700px) translateX(-400px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}

@keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
    transform: translateZ(700px) translateX(-400px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}

@-webkit-keyframes slide-in-bck-right {
  0% {
    -webkit-transform: translateZ(700px) translateX(400px);
    transform: translateZ(700px) translateX(400px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}

@keyframes slide-in-bck-right {
  0% {
    -webkit-transform: translateZ(700px) translateX(400px);
    transform: translateZ(700px) translateX(400px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1
  }
}

.home {
  background: linear-gradient(163.48deg, #6928B3 11.43%, #E8624D 120.77%);
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  &__text {
    position: absolute;
    width: 326px;
    height: 140px;
    left: 31px;
    top: 259px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
  }
  &__input {
    position: absolute;
    width: 323px;
    height: 45px;
    left: 37px;
    top: 490px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 60px;
    background: none;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 45px;
    color: #FFFFFF;
    padding-left: 16px;
  }
  &__input::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
  }
  &__skip {
    position: absolute;
    left: 77px;
    top: 765px;
    width: 100px;
    height: 45px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 60px;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__start {
    position: absolute;
    width: 137px;
    height: 45px;
    left: 212px;
    top: 765px;
    background: #5928B3;
    border: 1px solid #5928B3;
    box-sizing: border-box;
    border-radius: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    padding-right: 20px;
    &__arrow {
      height: 15px;
      width: 20px;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

.slide-in-bck-bottom {
  -webkit-animation: slide-in-bck-bottom 1.5s cubic-bezier(.445, .05, .55, .95) 2s both;
  animation: slide-in-bck-bottom 1.5s cubic-bezier(.445, .05, .55, .95) 2s both
}

.slide-in-bck-left {
  -webkit-animation: slide-in-bck-left 1.5s cubic-bezier(.445, .05, .55, .95) 2.5s both;
  animation: slide-in-bck-left 1.5s cubic-bezier(.445, .05, .55, .95) 2.5s both
}

.slide-in-bck-right {
  -webkit-animation: slide-in-bck-right 1.5s cubic-bezier(.445, .05, .55, .95) 2.5s both;
  animation: slide-in-bck-right 1.5s cubic-bezier(.445, .05, .55, .95) 2.5s both
}
