@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1
  }
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

.dashboard {
  z-index: 1;
  height: 100%;
  width: 100%;
  &__title {
    z-index: 1;
    position: absolute;
    width: 243px;
    height: 38px;
    left: 27px;
    top: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 126.16%;
  }
  &__question {
    z-index: 1;
    position: absolute;
    width: 38.09px;
    height: 37px;
    left: 324px;
    top: 56px;
    font-weight: 600;
    font-size: 15.0045px;
    line-height: 136.52%;
    background: #FFFFFF;
    border: 0.885773px solid #D7D7D7;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 54.9179px;
  }
  &__undertext {
    z-index: 1;
    position: absolute;
    width: 336px;
    height: 21px;
    left: 27px;
    top: 99px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #888888;
  }
  &__cards {
    z-index: 2;
    position: relative;
    left: 27px;
    top: 162px;
    display: flex;
    flex-direction: column;
    &__container {
      z-index: 2;
    }
    &__card {
      width: 335px;
      height: 45px;
      background: #FFFFFF;
      border: 1px solid #DADADA;
      border-radius: 7px;
      margin-bottom: 18px;
      display: flex;
      &__lock {
        position: relative;
        width: 16px;
        height: 19px;
        left: 22px;
        top: 13px;
      }
      &__text {
        position: relative;
        width: 75%;
        height: 18px;
        left: 45px;
        top: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 136.52%;
      }
    }
    &__add {
      width: 335px;
      height: 45px;
      background: #FFFFFF;
      border: 1px solid #5928B3;
      border-radius: 7px;
      font-family: 'Montserrat';
      text-align: left;
      padding: 0 21px;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      color: #5928B3;
      &__cosmetic {
        position: absolute;
        width: 335px;
        height: 45px;
        left: 27px;
        top: 291px;
        background: #FFFFFF;
        border: 1px solid #5928B3;
        border-radius: 7px;
        font-family: 'Montserrat';
        text-align: left;
        padding: 0 21px;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #5928B3;
      }
    }
  }
  &__bigalert {
    z-index: 2;
    position: absolute;
    width: 314px;
    height: 337px;
    left: 38px;
    top: 418px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    &__text {
      &__bold {
        position: absolute;
        width: 258px;
        height: 111px;
        left: 27px;
        top: 29px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #50555C;
      }
      &__simple {
        position: absolute;
        width: 197px;
        height: 84px;
        left: 58px;
        top: 151px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #50555C;
      }
      &__emoji {
        position: absolute;
        width: 24px;
        height: 30px;
        left: 34px;
        top: 144px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #50555C;
      }
    }
    &__button {
      &__done {
        position: absolute;
        width: 67px;
        height: 45px;
        left: 18px;
        top: 276px;
        background: none;
        border: 1px solid #5928B3;
        box-sizing: border-box;
        border-radius: 60px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #5928B3;
      }
      &__add {
        position: absolute;
        width: 153px;
        height: 45px;
        left: 143px;
        top: 276px;
        background: #5928B3;
        border: 1px solid #5928B3;
        box-sizing: border-box;
        border-radius: 60px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
        padding-right: 20px;
        &__arrow {
          height: 15px;
          width: 20px;
          position: absolute;
          top: 15px;
          right: 15px;
        }
      }
    }
  }
  &__smallalert {
    z-index: 2;
    position: absolute;
    width: 314px;
    height: 246px;
    left: 38px;
    top: 509px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    &__text {
      &__emoji {
        position: absolute;
        width: 24px;
        height: 30px;
        left: 61px;
        top: 19px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #50555C;
      }
      &__bold {
        position: absolute;
        width: 197px;
        height: 117px;
        left: 66px;
        top: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #50555C;
      }
    }
    &__button {
      position: absolute;
      width: 189px;
      height: 45px;
      left: 63px;
      top: 169px;
      background: #5928B3;
      border: 1px solid #5928B3;
      box-sizing: border-box;
      border-radius: 60px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  &__filter {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
  }
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1.5s cubic-bezier(.445, .05, .55, .95) both;
  animation: slide-in-blurred-top 1.5s cubic-bezier(.445, .05, .55, .95) both
}

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 1.5s cubic-bezier(.445, .05, .55, .95) 0.5s both;
  animation: slide-in-elliptic-top-fwd 1.5s cubic-bezier(.445, .05, .55, .95) 0.5s both
}

.roll-in-blurred-left {
  -webkit-animation: roll-in-blurred-left 1.5s cubic-bezier(.445, .05, .55, .95) both;
  animation: roll-in-blurred-left 1.5s cubic-bezier(.445, .05, .55, .95) both
}
